<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ManicBurgers</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
      <!-- <img th:src="@{/images/burger.jpg}" alt="logo" /> -->
      <img src="../static/images/" alt="logo" />

      <a th:href="@{/burgers}">Design a burger</a>
    </div>
  </body>
</html>
