<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/styles/register.css}">
    <title>ManicBurgers</title>
  </head>
  <body>
    <div class="register_container">
      <div class="register_detail-area">
        <h1>Please fill in your details below.</h1>
        <form th:action="@{/register}" method="post" id="registerForm">
          <label for="fullName">Full name</label>
          <input type="text" name="fullName" />
          <label for="username">Username</label>
          <input type="text" name="username" />
          <label for="password">Password</label>
          <input type="password" name="password" />
          <label for="street">Street</label>
          <input type="text" name="street" />
          <label for="city">City</label>
          <input type="text" name="city" />
          <label for="state">State</label>
          <input type="text" name="state" />
          <label for="zip">Zip Code</label>
          <input type="text" name="zip" />
          <label for="number">Number</label>
          <input type="text" name="number" />

          <button class="register_btn">Register</button>
        </form>

        <a th:href="@{/login}" class="register_link">Have an account?</a>
      </div>

      <div class="register_right">
        <img th:src="@{/images/burger.jpg}" alt="logo" class="register_logo">
      </div>
    </div>

    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
  </body>
</html>
